<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="stopwatch.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="utf-8">
    <title>Cooleo StopWatch</title>
</head>

<body>
    <div class="stopwatch" ng-app="myApp" ng-controller="myController">
        <h2>Stop Watch</h2>
        <br />
        <label class="display">{{timer | hhmmssmm}}</label>
        <br />
        <button id="start" ng-click="startTimer()">Start Timer</button>
        <button id="reset" ng-click="resetTimer()">Reset Timer</button>
        <br />
        <br />
    </div>
</body>

</html>