<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="stopwatch.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="utf-8">
    <title>Cooleo Stopwatch</title>
</head>
<body>
    <div ng-app='app' ng-controller='mainCtrl'>
        <h1>Stopwatch</h1>

        <input placeholder='Name' ng-model='userForm.name' />
        <input placeholder='Image Url' ng-model='userForm.url' />
        <input placeholder='Email' ng-model='userForm.email' />
        <button type='submit'>Add New</button>

        <ul class='User-list'>
            <li ng-repeat='user in users'>
                <avatar user='user' />
            </li>
        </ul>
    </div>
</body>
</html>