body {
    background-color: rgba(4, 19, 121, 0.55);
}

@font-face {
    font-family: 'Digital';
    src: url('digital-7.ttf');
}

.stopwatch {
    text-align: center;
    width: 605px;
    border-radius: 25px;
    margin: auto;
    margin-top: 90px;
}

.display {
    font-family: 'Digital';
    font-size: 115px;
    color: green;
    background-color: black;
    padding: 37px;
    border-radius: 25px;
    display: inline-block;
    width: 500px;
}

button {
    border-radius: 50%;
    border: none;
    padding: 25px;
    margin: 25px;
    font-size: xx-large;
    font-family: monospace;
}

#start {
    background: green;
}

#reset {
    background: red;
}

h1 {
    color: red;
    text-align: center;
    background-color: black;
}

h2 {
    color: #ff4500;
    width: 140px;
    text-align: center;
    margin: auto;
    font-family: monospace;
    padding-top: 15px;
    align-content: center;
}

p {
    size: 60 px;
    color: yellow;
    text-align: center;
    background-color: darkgreen;
}

a {
    color: palegreen;
}

div {
    background-color: lightgray;
    text-align: center;
}