body {
    background-color: green;
}

@font-face{
    font-family: 'Digital';
    src: url('digital-7.ttf');
}

.stopwatch {
    font-family: 'Digital';
    font-size: 115px;
    color: green;
    background-color: black;
    padding: 37px;
    border-radius: 25px;
    display: block;
    width: 500px;
    text-align: center;
}

h1 {
    color: red;
    text-align: center;
    background-color: black;
}

h2 {
    color: orangered;
    text-align: center;
    background-color: black;
    size: 60 px;
    align-content: center;
}

p {
    size: 60 px;
    color: yellow;
    text-align: center;
    background-color: darkgreen;
}

a {
    color: palegreen;
}

div {
    background-color: lightgray;
    text-align:center;
}
